.profile-button {
    position: fixed;
    bottom: 20px; /* Adjust this value to change the vertical position */
    right: 20px; /* Adjust this value to change the horizontal position */
    z-index: 9999; /* Ensure it's on top of other content */
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    padding: 5px; /* Adjust padding around the button */
    border-radius: 50px; /* Rounded corners */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.avatar {
    width: 30px; /* Adjust the size of the avatar image as needed */
    height: 30px; /* Adjust the size of the avatar image as needed */
    border-radius: 50%;
    margin-right: 10px; /* Add spacing between the avatar and text */
}

/* Hover effect */
.profile-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

.profile-button a {
    text-decoration: none; /* Remove underline on the link */
    color: inherit; /* Inherit text color */
    font-weight: bold;
    display: flex;
    align-items: center; /* Center the contents vertically */
    padding: 5px 10px; /* Adjust padding around the button text */
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove the default link border */
    border-radius: 50px; /* Rounded corners */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Add a smooth transition effect for hover */
}
